
body { background:#f5f5f5; }

main nav {
    background-color:#3B364D;
}

.refer-agent {
  width: 300px;
  margin: 0 auto;}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active { /* Rectangle Copy 2: */
background-image: linear-gradient(-179deg, #504969 0%, #897DB4 100%);
color:#fff;
box-shadow: 0px 1px 0px 0px #315F96;
border-radius: 4px; }

.btn-default.btn-lg { box-shadow: 0px 4px 0px 0px #555; }